@model WebMediaClient.Models.SectionViewModel

@{
    ViewBag.Title = "GetSectionByID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<script type="text/javascript">
	window.addEventListener("load", function () { checkMember() }, false);

	function getToken() {
		if (Modernizr.localstorage) {
			var localProfile = window.localStorage;
			var token = JSON.parse(localProfile.getItem("MediaToken"));
			return token;
		}
	}

	@*function getUsername() {
		var token = getToken();
		if (token != null) {
			$.ajax
			({
				url: '@Url.Action("GetCurrentUser", "User")',
				data: { token: token },
				dataType: 'json',
				type: 'GET',
				success: function (data) {
					var hiddenID = document.getElementById("store_id");
					hiddenID.value = data.ID;
					loadChildSections(data.ID);
					loadTopics(data.ID);
				}
			})
		}
	}*@

	@*function loadChildSections(id) {
		var link = '@Url.Action("GetSectionsByParentID", "Section", new { parentID = @Model.ID })';
		$('#sections_container').load(link);
	}

	function loadTopics(id) {
		var link = '@Url.Action("GetTopicsBySectionID", "Topic", new { sectionID = @Model.ID })';
		$('#topics_container').load(link);
	}*@

	function checkMember() {
		var parentID = '@ViewBag.ParentID';
		if (parentID == null)
		{
			$.ajax
			({
				url: '@Html.Raw(Url.Action("GetMembership", "Section", new { userID = @ViewBag.User.ID, sectionID = @Model.ID }))',
				dataType: 'json',
				type: 'GET',
				success: function (data){
					$('#apply').prop('disabled', true);
					if(data.Role == "Admin")
					{
						var link = '@Url.Action("GetPendingMembershipsForSection", "User", new { SectionID = @Model.ID })';
						$("#pending_members_container").load(link);
					}
				}
			})
		}
		else
			getRoot();
	}

	function getRoot() {
		$.ajax
		({
			url: '@Url.Action("GetRoot", "Section", new { sectionID = @Model.ID})',
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				checkMemberOfRoot(data.ID);
			},
		})
	}

	function checkMemberOfRoot(id) {
		var link = '@Html.Raw(Url.Action("GetMembership", "Section", new { userID = @ViewBag.User.ID, sectionID = -1 }))';
		link = link.replace("-1", id);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				$("#apply").prop('disabled', true);
			}
		})
	}

	function applyForMember() {
		$.ajax
		({
			url: '@Html.Raw(Url.Action("GetMembership", "Section", new { sectionID = @Model.ID, userID = @ViewBag.User.ID }))',
			dataType: 'json',
			type: 'PUT',
			success: function (data){
				alert("You are already a member");
			},
			error: function(xhr){
				if (xhr.status == 404)
				{
					addMembership();
				}
			}
		})
	}

	function addMembership() {
		$.ajax
		({
			url: '@Html.Raw(Url.Action("AddMembership", "Section", new { sectionID = @Model.ID, userID = @ViewBag.User.ID }))',
			data:
				{
					anonymous: false,
				},
			dataType: 'json',
			type: 'POST',
			success: function(data){
				$("#apply").prop('disabled', true);
			}
		})
	}

	function postTopic() {
		var link = '@Html.Raw(@Url.Action("CreateTopic", "Topic", new { sectionID = @Model.ID, authorID = @ViewBag.User.ID }))';
		//var hiddenID = document.getElementById("store_id");
		//var id = hiddenID.value;
		//link = link.replace("-1", id);
		window.location.href = link;
	}

	function postSection() {
		var link = '@Html.Raw(@Url.Action("CreateSection", "Section", new { parentID = @Model.ID }))';
		//var hiddenID = document.getElementById("store_id");
		//var id = hiddenID.value;
		//link = link.replace("-1", id);
		window.location.href = link;
	}
</script>

<div class="row">
	<div id="sections_container" class="col-md-4">
		@Html.Action("GetSectionsByParentID", "Section", new { parentID = @Model.ID })
	</div>
</div>
<div class="row">
	<div id="topics_container" class="col-md-4">
		@Html.Action("GetTopicsBySectionID", "Topic", new { sectionID = @Model.ID })
	</div>
</div>
<div class="row">
	<div id="pending_members_container" class="col-md-4">
	</div>
</div>
<div class="row">
	<div class="list-group">
		<button class="button" onclick="postSection()">Add subsection</button>
	</div>
</div>
<div class="row">
	<div class="list-group">
		<button class="button" onclick="postTopic()">Add new topic</button>
	</div>
</div>
<div class="row">
	<div class="list-group">
		<button id="apply" class="btn btn-default" onclick="applyForMember()">Apply for membership</button>
	</div>
</div>
<div class="row">
	<div class="list-group">
		@Html.ActionLink("View members", "GetMembershipsForSection", "User", new { SectionID = @Model.ID }, new { @id = "view_section_members_link" })
	</div>
</div>
<div class="row">
	<div class="list-group">
		@Html.ActionLink("Suspend an user", "SuspendUser", "Settings", new { SectionID = @Model.ID }, new { @id = "suspend_user_link" })
	</div>
</div>
<div class="row">
	<div class="list-group">
		@Html.ActionLink("Change role of an user", "ChangePosition", "Settings", new { SectionID = @Model.ID }, new { @id = "change_position_link" })
	</div>
</div>
	@*<div class="list-group">
		<input id="store_id" hidden="hidden" />
	</div>
</div>*@

