@using Microsoft.AspNet.Identity
<script type="text/javascript">
	window.onload = function () { document.getElementById("load_token").click(); }

	function getToken() {
		if (Modernizr.localstorage) {
			var localProfile = window.localStorage;
			var token = JSON.parse(localProfile.getItem("MediaToken"));
			return token;
		}
	}

	function deleteToken() {
		if (Modernizr.localstorage) {
			var localProfile = window.localStorage;
			localProfile.removeItem("MediaToken");
		}
	}

	function showUsername() {
		var token = getToken();
		$.ajax
		({
			url: '@Url.Action("GetAllComments", "Comment")',
			data: { token: token },
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				var actionsList = document.getElementById("actions_list");
				var manageNode = document.createElement("li");
				var actionLinkElement = document.createElement("a");
				var manageElem = '@Html.ActionLink("Hello ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })' + data.Username;
				actionLinkElement.innerHTML = manageElem;
				manageNode.appendChild(actionLinkElement);
				actionsList.appendChild(manageNode);
				var logoffNode = document.createElement("li");
				var labelElement = document.createElement("a");
				labelElement.setAttribute("id", "logoff_link");
				labelElement.setAttribute("href", '@Url.Action("Index", "Home")');
				labelElement.setAttribute("onclick", "deleteToken()");
				labelElement.text = "Log off";
				logoffNode.appendChild(labelElement);
				actionsList.appendChild(logoffNode);
				var registerLink = document.getElementById("registerLink");
				registerLink.parentNode.removeChild(registerLink);
				var loginLink = document.getElementById("loginLink");
				loginLink.parentNode.removeChild(loginLink);
			}
		})
	}
</script>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
	}
}
else
{
    <ul id="actions_list" class="nav navbar-nav navbar-right">
		<li><button id="load_token" hidden="hidden" onclick="showUsername()" /></li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
