@model List<WebMediaClient.Models.CommentViewModel>

<script type="text/javascript">
	function addReply(id)
	{
		var link = '@Html.Raw(Url.Action("CreateComment", "Comment", new { parentID = -1, topicID = @ViewBag.TopicID, authorID = @ViewBag.User.ID }))';
		link = link.replace("-1", id);
		$.ajax
		({
			url: link,
			data:
				{
					text: text,
					datecreated: Date.now(),
				},
			dataType: 'json',
			type: 'POST',
			success: function (data) {
			}
		})
	}
</script>

<div class="row">
	<div class="col-md-8">
		<div class="list-group">
			@foreach (var item in Model)
			{
				<div class="row">
					<div class="col-md-4">
						@Html.Action("GetUserByID", "User", new { ID = item.AuthorID });
					</div>
					<div class="col-md-4">
						@if(item.Name != null)
						{
							@Html.TextBoxFor(i => item.Name, new { @class = "form-control" })
						}
					</div>
					<div class="col-md-4">
						@Html.TextAreaFor(i => item.Text, new { @class = "form-control", @rows = 5, @cols = 25 })
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<button class="button" onclick="addReply(@Html.Raw(Json.Encode(item.ID)))" />
					</div>
				</div>
			}
		</div>
	</div>
</div>


