@model WebMediaClient.Models.InterestViewModel

@{
    ViewBag.Title = Resources.CreateInterest;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.CreateInterest</h2>

<div class="row">
	<div class="col-md-8">
		<section id="topic_form">
			@using (Html.BeginForm("CreateInterest", "Interest", new { UserID = @ViewBag.AuthorID }, FormMethod.Post, new { @id = "interest_create", @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
					</div>
				</div>
				@*<div class="form-group">
					@Html.LabelFor(m => m.DateCreated, new { @class = "col-md-2 control-label", @hidden = "hidden" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.DateCreated, new { @class = "form-control", @hidden = "hidden", @value = DateTime.Now })
					</div>
				</div>*@
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="@Resources.Create" class="btn btn-default" />
					</div>
				</div>
			}
		</section>
	</div>
</div>



