@model WebMediaClient.Models.InterestViewModel

@{
    ViewBag.Title = "GetInterestByID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get interest by ID</h2>

<div class="row">
	<div class="col-md-8">
		<section id="profile_form">
			@using (Html.BeginForm("GetInterestByID", "Interest", new { ID = @ViewBag.ID }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
			{
				<div class="form-group">
					@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @enabled = "false" })
					</div>
				</div>
			}
		</section>
	</div>
	<div class="col-md-8">
		@Html.Action("GetTopicForInterest", "Topic", new { interestID = @ViewBag.ID })
	</div>
</div>

