@model WebMediaClient.Models.InterestViewModel

@{
    ViewBag.Title = "GetInterestByID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get interest by ID</h2>

<script type="text/javascript">
	window.addEventListener("load", function () { checkIsOwner() }, false);

	//function getToken() {
	//	if (Modernizr.localstorage) {
	//		var localProfile = window.localStorage;
	//		var token = JSON.parse(localProfile.getItem("MediaToken"));
	//		return token;
	//	}
	//}

	function checkIsOwner() {
		var userID = '@ViewBag.User.ID';
		var authorID = @Html.Raw(Json.Encode(Model.AuthorID));
		if (userID == authorID)
		{
			var link1 = '@Html.Raw(Url.Action("GetTopicByOwnerAndType", "Topic", new { ownerID = @Model.ID, topicType = "Interest" }))';
			var link2 = '@Html.ActionLink("Update interest settings", "GetSettingByOwnerIDAndType", "Settings", new { ownerID = @ViewBag.ID, settingType = SettingType.Interest.ToString() }, new { id = "interest_setting" })';
			var link3 = '@Html.ActionLink("Update interest", "UpdateInterest", "Interest", new { ID = @Model.ID }, new { @id = "update_interest" })';
			$("#interest_topic").load(link1, function () { updateVisit(); });
			$("#update_settings").html(link2);
			$("#update_interest").html(link3);
		}
		else
			checkIsFollower();
	}

	function checkIsFollower() {
		$.ajax
		({
			url: '@Html.Raw(Url.Action("GetFollower", "Interest", new { userID = @ViewBag.User.ID, interestID = @Model.ID }))',
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				$.ajax
				({
					url: '@Html.Raw(Url.Action("GetSettingByOwnerIDAndTypeRaw", "Settings", new { ownerID = @Model.ID, settingType = SettingType.Interest.ToString() }))',
					dataType: 'json',
					type: 'GET',
					success: function (result) {
						var link = '@Html.Raw(Url.Action("GetTopicByOwnerAndType", "Topic", new { ownerID = @Model.ID, topicType = "Interest" }))';
						$("#interest_topic").load(link, function () { updateVisit(); });
					}
				})
				//checkInterestPublicity(true);
			},
			error: function (xhr) {
				if (xhr.status == 404)
				{
					$.ajax
					({
						url: '@Html.Raw(Url.Action("GetSettingByOwnerIDAndTypeRaw", "Settings", new { ownerID = @Model.ID, settingType = SettingType.Interest.ToString() }))',
						dataType: 'json',
						type: 'GET',
						success: function (result) {
							if (result.Publicity == "Everyone")
							{
								var link = '@Html.Raw(Url.Action("GetTopicByOwnerAndType", "Topic", new { ownerID = @Model.ID, topicType = "Interest" }))';
								$("#interest_topic").load(link, function () { updateVisit(); });
							}
						}
					})
				}
				//checkInterestPublicity(false);
			}
		})
	}

	@*function checkInterestPublicity(isFollower) {
		$.ajax
		({
			url: '@Html.Raw(Url.Action("GetSettingByOwnerIDAndTypeRaw", "Settings", new { ownerID = @Model.ID, settingType = SettingType.Interest.ToString() }))',
				dataType: 'json',
				type: 'GET',
				success: function (data) {
					if (data.Publicity == "Everyone") {
						var link = '@Url.Action("GetTopicForInterest", "Topic", new { interestID = @Model.ID })';
						$("#interest_topic").load(link, function () { updateVisit(); });
					}
					if (data.Publicity == "Followers") {
						if (isFollower) {
							var link = '@Url.Action("GetTopicForInterest", "Topic", new { interestID = @Model.ID })';
							$("#interest_topic").load(link, function () { updateVisit(); });
						}
					}
				}
			})
		}*@
</script>

<div class="row">
	<div class="col-md-8">
		<section id="profile_form">
			@using (Html.BeginForm("GetInterestByID", "Interest", new { ID = @ViewBag.ID }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
			{
				<div class="form-group">
					@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @enabled = "false" })
					</div>
				</div>
			}
		</section>
	</div>
	<div id="interest_topic" class="col-md-8">
	</div>
	<div class="row" id="update_settings">
	</div>
	<div class="row" id="update_interest">
	</div>
</div>

