@model PagedList.IPagedList<WebMediaClient.Models.TopicViewModel>
@using PagedList.Mvc;

@{
	ViewBag.Title = "GetTopicsByAuthorID";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-8">
		<div class="list-group">
			@foreach (var item in Model)
			{
				<div class="list-group-item">
					@Html.ActionLink(item.Name, "GetTopicByID", "Topic", new { ID = item.ID }, null);
				</div>
			}
		</div>
	</div>
</div>
<div class="row">
	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

	@Html.PagedListPager(Model, page => Url.Action("GetTopicsByAuthorID",
	new { authorID = @ViewBag.AuthorID, page }))
</div>

