@model WebMediaClient.Models.TopicViewModel

<script type="text/javascript">
	window.addEventListener("load", function () { updateVisit() }, false);

	function getToken() {
		if (Modernizr.localstorage) {
			var localProfile = window.localStorage;
			var token = JSON.parse(localProfile.getItem("MediaToken"));
			return token;
		}
	}

	function updateVisit() {
		$.ajax
		({
			url: '@Html.Raw(@Url.Action("UpdateVisit", "User", new { userID = @ViewBag.User.ID, topicID = @Model.ID }))',
			data: { lastvisit: Date.now() },
			dataType: 'json',
			type: 'PUT',
			success: function (data) {
			},
			error: function (xhr) {
				if (xhr.status == 404) {
					createVisit();
				}
			},
		})
	}

	function createVisit() {
		$.ajax
		({
			url: '@Html.Raw(@Url.Action("CreateVisit", "User", new { userID = @ViewBag.User.ID, topicID = @Model.ID }))',
			data: { lastvisit: Date.now() },
			dataType: 'json',
			type: 'POST',
			success: function (data) {
			},
		})
	}

	@*function getUsername() {
		var token = getToken();
		if (token != null) {
			$.ajax
			({
				url: '@Url.Action("GetCurrentUser", "User")',
				data: { token: token },
				dataType: 'json',
				type: 'GET',
				success: function (data) {
					var hiddenID = document.getElementById("store_id");
					hiddenID.value = data.ID;
				}
			})
		}
	}*@

	function addComment() {
		//var hiddenID = document.getElementById("store_id");
		//var id = hiddenID.value;
		var textblock = document.getElementById("comment_text");
		var text = textblock.value;
		var link = '@Html.Raw(@Url.Action("CreateComment", "Comment", new { topicID = @Model.ID, authorID = @ViewBag.User.ID }))';
		//link = link.replace("-1", id);
		$.ajax
		({
			url: link,
			data:
				{
					text: text,
					datecreated: Date.now(),
				},
			type: 'POST',
			success: function (data) {
				//$('#comments').empty();
				var link = '@Url.Action("GetCommentsByTopicID", "Comment", new { topicID = @Model.ID })';
				$("#comments").empty();
				$('#comments').load(link, function () { setIDs(); });
			},
			error: function (xhr) {
				var link = '@Url.Action("GetCommentsByTopicID", "Comment", new { topicID = @Model.ID })';
				$("#comments").empty();
				$('#comments').load(link, function () { setIDs(); });
			}
		})
	}
</script>

<script src="~/ckeditor/ckeditor.js"></script>

<h2>@Model.Name</h2>

<div id="comments" class="form-group">
	@Html.Action("GetCommentsByTopicID", "Comment", new { topicID = @Model.ID });
</div>

<div class="row">
	<div class="col-md-8">
		<textarea id="comment_text" class="form-control" cols="25" rows="5"></textarea>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<button class="button" onclick="addComment()">Reply</button>
	</div>
</div>
<script>
	CKEDITOR.replace("comment_text");
</script>




