@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
	//window.addEventListener("load", function () { getUsername() }, false);

	function getToken() {
		if (Modernizr.localstorage) {
			var localProfile = window.localStorage;
			var token = JSON.parse(localProfile.getItem("MediaToken"));
			return token;
		}
	}

	@*function getUsername() {
		var token = getToken();
		if (token != null) {
			$.ajax
			({
				url: '@Url.Action("GetCurrentUser", "User")',
				data: { token: token },
				dataType: 'json',
				type: 'GET',
				success: function (data) {
					var hiddenID = document.getElementById("store_id");
					hiddenID.value = data.ID;
					loadFriends(data.ID);
					loadInterests(data.ID);
					loadSections(data.ID);
				}
			})
		}
	}

	function loadFriends(id) {
		var link = '@Url.Action("GetAllFriends", "Profile", new { userID = -1 })';
		link = link.replace("-1", id);
		$('#friends_container').load(link);
	}

	function loadInterests(id) {
		var link = '@Url.Action("GetInterestsForUser", "Interest", new { userID = -1 })';
		link = link.replace("-1", id);
		$('#interests_container').load(link);
	}

	function loadSections(id) {
		var link = '@Url.Action("GetMembershipsForUser", "Section", new { userID = -1 })';
		link = link.replace("-1", id);
		$('#sections_container').load(link);
	}*@
</script>

<br />
<div class="row">

</div>
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.User != null)
		{
			<p>@Resources.NewFriendsRequests</p>
			Html.RenderAction("GetPendingFriends", "Settings", new { userID = ViewBag.User.ID });
		}
    </div>
</div>
<div class="row">
	<div class="col-md-4">
		@if (ViewBag.User != null)
		{
			<p>@Resources.UnreadMessages</p>
			Html.RenderAction("GetUnreadMessages", "Profile", new { receiverID = ViewBag.User.ID });
			}
	</div>
	<div class="col-md-4">
		@if (ViewBag.User != null)
		{
			<p>@Resources.SubscribedTopics</p>
			Html.RenderAction("GetSubscribedTopics", "Settings", new { userID = ViewBag.User.ID });
			}
	</div>
	<div class="col-md-4" style="display: inline-block">
		@if (ViewBag.User != null)
		{
			<p>@Resources.NewSubscribedTopics</p>
			Html.RenderAction("GetTopicsWithNewComments", "Settings", new { userID = ViewBag.User.ID });
			}
	</div>
</div>
<div class="row">
	<div id="friends_container" class="col-md-4">
		@if (ViewBag.User != null)
		{
			<p>@Resources.Friends</p>
			Html.RenderAction("GetAllFriends", "Profile", new { userID = ViewBag.User.ID });
			}
	</div>
	<div id="interests_container" class="col-md-4">
		@if(ViewBag.User != null)
		{
			<p>@Resources.FollowedInterests</p>
			Html.RenderAction("GetInterestsForUser", "Interest", new { userID = ViewBag.User.ID });
			}
	</div>
	<div id="sections_container" class="col-md-4" style="display: inline-block">
		@if(ViewBag.User != null)
		{
			<p>@Resources.SectionsMember</p>
			Html.RenderAction("GetMembershipsForUser", "Section", new { userID = ViewBag.User.ID });
			}
	</div>
</div>
<div class="row">
	<div id="activity_container" class="col-md-4">
		@if (ViewBag.User != null)
		{
			<p>@Resources.LatestFriendsActivity</p>
			Html.RenderAction("GetFirstLatestFriendsActivity", "Settings", new { userID = ViewBag.User.ID }); 
		}
	</div>
</div>
<div class="row">
	<div id="chat_container" class="col-md-4">
		@if (ViewBag.User != null)
		{
			<a href="@Url.Action("ChatRoom", "Profile", new { userID = ViewBag.User.ID })">@Resources.ChatRoom</a>
		}
	</div>
</div>
	@*<div class="list-group">
		<input id="store_id" hidden="hidden" />
	</div>*@