@{
    ViewBag.Title = "ChangePosition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.ChangePosition</h2>

<script type="text/javascript">
	window.addEventListener("load", function () { getRoot() }, false);

	function loadValues() {
		var userID = '@ViewBag.UserID';
		//if (userID == null) {
			$.getJSON('@Html.Raw(Url.Action("GetMembershipsForSectionRaw", "User", new { sectionID = @ViewBag.SectionID, getSpecial = 1 }))', function (result) {
				var ddl = $('#user_dropdown');
				ddl.empty();
				$(result).each(function () {
					ddl.append(
						$('<option/>', {
							value: this.ID
						}).html(this.Username)
					);
				});
			});
		//}
	}

	function getRoot() {
		$.ajax
		({
			url: '@Url.Action("GetRoot", "Section", new { SectionID = @ViewBag.SectionID })',
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				checkMember(data.ID);
			},
		})
	}

	function checkMember(id) {
		var link = '@Html.Raw(Url.Action("GetMembership", "Section", new { userID = @ViewBag.User.ID, sectionID = -1 }))';
		link = link.replace("-1", id);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				if (data.Role != "Admin" && data.Role != "Mod") {
					alert('@Resources.NonPermitedOperation');
					window.location.href = '@Url.Action("Index", "Home")';
				}
				else {
					loadValues();
				}
			}
		})
	}

	function changePosition() {
		var userID = '@ViewBag.UserID';
		if (userID == null) {
			var selectedValue = $("#user_dropdown").val();
			userID = parseInt(selectedValue);
		}
		var position = $("#position_select option:selected").text();
		var link = '@Html.Raw(Url.Action("UpdateMembership", "Section", new { sectionID = @ViewBag.SectionID, userID = -1, role = "oooo" }))';
		link = link.replace("-1", userID);
		link = link.replace("oooo", position);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'PUT',
			success: function (data) {
			}
		})
	}
</script>

<div class="row">
	<div class="col-md-8">
		@if (ViewBag.UserID == null)
		{
			<div class="list-group">
				<label id="user_label" class="label-default">@Resources.SelectUser</label>
				<div class="col-md-4">
					@Html.DropDownList("User", new SelectList(Enumerable.Empty<SelectListItem>()), new { @id = "user_dropdown" })
				</div>
			</div>
		}
		<div class="list-group">
			<label id="position_label" class="label-default">@Resources.SelectPosition</label>
			<div class="col-md-4">
				<select id="position_select">
					<option value="Regular">@Resources.Regular</option>
					<option value="Mod">@Resources.Mod</option>
					<option value="Admin">@Resources.Admin</option>
				</select>
			</div>
		</div>
		<div class="list-group">
			<button id="submit" class="formbutton" onclick="changePosition()">@Resources.Change</button>
		</div>
	</div>
</div>

