@model List<WebMediaClient.Models.ActivityViewModel>

<div class="row">
	<div class="col-md-8">
		<div class="list-group">
			@foreach (var item in Model)
			{
				<div class="list-group-item">
					@switch (item.Action)
					{
						case "topic":
						case "comment":
							@Html.ActionLink(item.Action, "GetTopicByID", "Topic", new { ID = item.ActionID }, null)
						break;
						case "photo":
							@Html.ActionLink(item.Action, "GetPhotoByID", "Album", new { ID = item.ActionID }, null)
						break;
						default:
						break;
						}
					<div class="col-md-4">
						@item.DateCreated
					</div>
				</div>
			}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		@Html.ActionLink("View full activity", "GetLatestProfileActivity", "Settings", new { userID = @ViewBag.User.ID }, null)
	</div>
</div>

