<script type="text/javascript">
	window.onload = function () { getUsername(); }

	//function getToken() {
	//	if (Modernizr.localstorage) {
	//		var localProfile = window.localStorage;
	//		var token = JSON.parse(localProfile.getItem("MediaToken"));
	//		return token;
	//	}
	//}

	function getUsername() {
		$.ajax
		({
			url: '@Url.Action("GetCurrentUser", "User")',
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				setProfileSettings(data.Username);
			}
		})
	}

	//function changeHref(username) {
	//	var href = document.getElementById("update_profile").getAttribute("href");
	//	href = href + '?Username=' + username;
	//	document.getElementById("update_profile").setAttribute("href", href);
	//	setProfileSettings(username);
	//}

	function setProfileSettings(username) {
		var link = '@Url.Action("GetProfileByUsernameRaw", "Profile", new { username = "oooo" })',
		link = link.replace("oooo", username);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				var cont = document.getElementById("main_container");
				var tableElement = document.createElement("dl");
				tableElement.setAttribute("class", "dl-horizontal");
				var titleElement = document.createElement("dt");
				titleElement.innerHTML = '@Resources.ProfileSettings';
				var contElement = document.createElement("dd");
				var linkElement = document.createElement("a");
				var link = '@Html.ActionLink(Resources.Update, "GetSettingByOwnerIDAndType", "Settings", new { ownerID = -1, settingType = SettingType.Profile.ToString() }, new { id = "profile_setting" })';
				link = link.replace("-1", data.ID);
				linkElement.innerHTML = link;
				contElement.appendChild(linkElement);
				tableElement.appendChild(titleElement);
				tableElement.appendChild(contElement);
				cont.appendChild(tableElement);
				setAlbumSettings(data.ID);
			}
		})
	}

	function setAlbumSettings(id) {
		var link = '@Url.Action("GetAlbumsForProfileRaw", "Album", new { profileID = -1 })';
		link = link.replace("-1", id);
		$.getJSON(link, function (result) {
			$(result).each(function () {
				var cont = document.getElementById("main_container");
				var tableElement = document.createElement("dl");
				tableElement.setAttribute("class", "dl-horizontal");
				var titleElement = document.createElement("dt");
				titleElement.innerHTML = '@Resources.AlbumSettings';
				var contElement = document.createElement("dd");
				var linkElement = document.createElement("a");
				var link = '@Url.Action("GetSettingByOwnerIDAndType", "Settings", new { ownerID = -1, settingType = SettingType.Album.ToString() })';
				link = link.replace("-1", this.ID);
				linkElement.href = link;
				linkElement.innerHTML = '@Resources.Update' + this.Name;
				linkElement.id = "update_album " + this.ID.toString();
				contElement.appendChild(linkElement);
				tableElement.appendChild(titleElement);
				tableElement.appendChild(contElement);
				cont.appendChild(tableElement);
			});
		});
	}
</script>

<p class="text-success">@ViewBag.StatusMessage</p>
<div id="main_container">
    <h4>@Resources.ChangeYourSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resources.Password</dt>
        <dd>
            @Html.ActionLink(Resources.ChangePassword, "ChangeAccPassword", "Account", null, new { id = "change_password" })
        </dd>
    </dl>
	<dl class="dl-horizontal">
		<dt>@Resources.UpdateYourProfile</dt>
		<dd>
			@Html.ActionLink(Resources.UpdateProfile, "UpdateProfile", "Profile", null, new { id = "update_profile" })
		</dd>
	</dl>
</div>
