@model List<WebMediaClient.Models.ProfileViewModel>

@{
    ViewBag.Title = "DisplayProfileSearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile search results</h2>

<script type="text/javascript">
	window.addEventListener("load", function () { compareUsername() }, false);

	function getToken() {
		if (Modernizr.localstorage) {
			var localProfile = window.localStorage;
			var token = JSON.parse(localProfile.getItem("MediaToken"));
			return token;
		}
	}

	@*function getUsername() {
		var token = getToken();
		$.ajax
		({
			url: '@Url.Action("GetCurrentUser", "User")',
			data: { token: token },
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				var hiddenID = document.getElementById("hidden_ID");
				hiddenID.value = data.ID;
				var hiddenUsername = document.getElementById("hidden_label");
				hiddenUsername.value = data.Username;
				compareUsername();
			}
		})
	}*@

	function addButton(username) {
		var profileList = document.getElementById("add_friend");
		var buttonFriend = document.createElement("button");
		buttonFriend.setAttribute("id", username);
		buttonFriend.setAttribute("class", "button");
		buttonFriend.setAttribute("onclick", "getFriendID(\"" + username + "\")");
		buttonFriend.innerHTML = "Add friend";
		profileList.appendChild(buttonFriend);
	}

	function compareUsername() {
		var profileList = document.getElementById("add_friend");
		var buttons = document.getElementsByClassName("dialogbutton");
		for (var i = 0; i < buttons.length; i++)
		{
			var item = buttons[i];
			if (item.id == "@ViewBag.User.Username" || item.id == null)
				profileList.removeChild(item);
			else {
				var link = '@Url.Action("GetUserByUsername", "User", new { Username = "oooo" })';
				link = link.replace("oooo", item.id);
				$.ajax
				({
					url: link,
					dataType: 'json',
					type: 'GET',
					success: function (data) {
						profileList.removeChild(item);
					}
				})
			}
		}
	}

	function getFriendID(username) {
		var link = '@Url.Action("GetUserByUsername", "User", new { Username = "oooo" })';
		link = link.replace("oooo", username);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				var id = data.ID;
				addFriend(id);
			}
		})
	}

	function addFriend(id) {
		var link = '@Html.Raw(@Url.Action("AddFriend", "Profile", new { UserID = @ViewBag.User.ID, FriendID = -1 }))';
		link = link.replace("-1", id);
		$.ajax
		({
			url: link,
			type: 'POST',
			success: function (data) {
				//var button = document.getElementById('button' + text2);
				//if(data.Response == "OK")
				//	button.value = "Request sent";
			}
		})
	}
</script>

	<div class="row">
		<div class="col-md-8">
			<div id ="add_friend" class="list-group">
				@foreach (var item in Model)
				{
					<div class="list-group-item">
						@Html.ActionLink(item.Username, "GetProfileByID", "Profile", new { ID = item.ID }, null);
					</div>
					<div class="col-md-8">
						<div class="list-group-item">
							<script type="text/javascript">
								addButton(@Html.Raw(Json.Encode(item.Username)));
							</script>
						</div>
					</div>
				}
			</div>
		</div>
	</div>

