@model List<WebMediaClient.Models.ProfileViewModel>

@{
    ViewBag.Title = "DisplayProfileSearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile search results</h2>

<script type="text/javascript">
	window.addEventListener("load", function () { getUsername() }, false);

	function getToken() {
		if (Modernizr.localstorage) {
			var localProfile = window.localStorage;
			var token = JSON.parse(localProfile.getItem("MediaToken"));
			return token;
		}
	}

	function getUsername() {
		var token = getToken();
		$.ajax
		({
			url: '@Url.Action("GetCurrentUser", "User")',
			data: { token: token },
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				var hiddenID = document.getElementById("hidden_ID");
				hiddenID.value = data.ID;
				var hiddenUsername = document.getElementById("hidden_label");
				hiddenUsername.value = data.Username;
				compareUsername();
			}
		})
	}

	function addButton(username) {
			var profileList = document.getElementById("add_friend");
			var buttonFriend = document.createElement("button");
			buttonFriend.setAttribute("id", username);
			buttonFriend.setAttribute("class", "dialogbutton");
			buttonFriend.setAttribute("value", "Add friend");
			buttonFriend.setAttribute("onclick", "getFriendID(\"" + username + "\")");
			profileList.appendChild(buttonFriend);
	}

	function compareUsername()
	{
		var profileList = document.getElementById("add_friend");
		var currentUsername = document.getElementById("hidden_label").value;
		var buttons = document.getElementsByClassName("dialogbutton");
		for (var i = 0; i < buttons.length; i++)
		{
			var item = buttons[i];
			if (item.id == currentUsername || item.id == null)
				profileList.removeChild(item);
		}
	}

	function getFriendID(username) {
		var link = '@Url.Action("GetUserByUsername", "User", new { Username = "oooo" })';
		link = link.replace("oooo", username);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				var id = data.ID;
				addFriend(id);
			}
		})
	}

	function addFriend(id) {
		var hiddenID = document.getElementById("hidden_ID");
		var userID = hiddenID.value;
		var link = '@Html.Raw(@Url.Action("AddFriend", "Profile", new { UserID = -1, FriendID = -2 }))';
		link = link.replace("-1", userID);
		link = link.replace("-2", id);
		$.ajax
		({
			url: link,
			type: 'POST',
			success: function (data) {
				//var button = document.getElementById('button' + text2);
				//if(data.Response == "OK")
				//	button.value = "Request sent";
			}
		})
	}
</script>

	<div class="row">
		<div class="col-md-8">
			<div id ="add_friend" class="list-group">
				@foreach (var item in Model)
				{
					<div class="list-group-item">
						@Html.ActionLink(item.Username, "GetProfileByUsername", "Profile", new { Username = item.Username }, null);
					</div>
					<script type="text/javascript">
						addButton(@Html.Raw(Json.Encode(item.Username)));
					</script>
				}
			</div>
			<div class="list-group">
				<input id="hidden_label" hidden="hidden" />
			</div>
			<div class="list-group">
				<input id="hidden_ID" hidden="hidden" />
			</div>
		</div>
	</div>

