@model List<WebMediaClient.Models.MessageViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/modernizr")
	<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
	window.addEventListener("load", function () { setIDs(); }, false);

	function setIDs() {
		var textAreas = document.getElementsByTagName("textarea");
		for (i = 0; i < textAreas.length; i++) {
			var textArea = textAreas[i];
			if (textArea.id != "message_text") {
				textArea.setAttribute("id", "textarea" + "_" + i.toString());
				CKEDITOR.replace("textarea" + "_" + i.toString(), { customConfig: "/Scripts/Myconfig.js", readOnly: true });
			}
		}
		$("#message_number").val(textAreas.length.toString());
	}

	$(function () {
		var userID = '@ViewBag.User.ID';
		$.connection.hub.qs = { 'id': userID.toString() };
		var chat = $.connection.chatHub;
		chat.client.broadcastMessage = function (message) {
			var link = '@Url.Action("GetUserByID", "User", new { ID = @ViewBag.User.ID })';
			$("#messages_container").append("<div class=&quot;row&quot;><div class=&quot;col-md-4&quot;>" + link + "</div><div class=&quot;col-md-4&quot;><textarea id=&quot;textarea_" + $("message_number").val() + "&quot; class=&quot;form-control&quot; rows=&quot;5&quot; cols=&quot;25&quot;>" + message + "</textarea></div></div>");
		}
		$("#message_text").focus();
		$.connection.hub.start().done(function () {
			$('#send_message').click(function () {
				var text = CKEDITOR.instances.message_text.getData();
				text = text.replace(new RegExp('&lt;', 'g'), '<');
				text = text.replace(new RegExp('&gt;', 'g'), '>');
				var receiverID = '@ViewBag.ReceiverID';
				chat.server.send(receiverID.toString(), text);
				$.ajax
				({
					url: '@Html.Raw(Url.Action("CreateMessage", "Profile", new { senderID = @ViewBag.User.ID, receiverID = @ViewBag.ReceiverID }))',
					data:
						{
							text: text,
							datecreated: Date.now(),
						},
					dataType: 'json',
					type: 'POST',
					success: function (data) {
					}
				})
				CKEDITOR.instances.message_text.setData('');
			});
		});
	});
</script>

    <meta name="viewport" content="width=device-width" />
    <title>GetMessages</title>
</head>
<body>
	<div class="row">
		<div class="col-md-8">
			<div id="messages_container" class="list-group">
				@foreach (var item in Model)
				{
					<div class="row">
						@*<div class="col-md-4">
							@Html.Action("GetUserByID", "User", new { ID = item.SenderID, Token = @HttpContext.Current.Session["token"].ToString() })
						</div>*@
						<div class="col-md-4">
							@item.Text
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<textarea id="message_text" class="form-control" cols="25" rows="5"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<button id="send_message" class="button">Send</button>
		</div>
	</div>
	<input id="message_number" class="hidden" />
	<script>
		CKEDITOR.replace("message_text");
	</script>
</body>
</html>







