@model WebMediaClient.Models.ProfileViewModel

@{
	ViewBag.Title = "GetProfileByID";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetProfileByID</h2>

<script type="text/javascript">
	window.addEventListener("load", function () { compareUsername() }, false);

	//function getToken() {
	//	if (Modernizr.localstorage) {
	//		var localProfile = window.localStorage;
	//		var token = JSON.parse(localProfile.getItem("MediaToken"));
	//		return token;
	//	}
	//}

	function compareUsername() {
		var currentUsername = '@ViewBag.User.Username';
		var profileUsername = '@Model.Username';
		if (currentUsername == profileUsername)
		{
			$('#add_friend').prop('disabled', true);
			var link = '@Url.Action("GetTopicForProfile", "Topic", new { profileID = @Model.ID })';
			$("#profile_topic").load(link, function () { updateVisit(); });
		}
		else
		{
			$.ajax
			({
				url: '@Url.Action("GetUserByUsername", "User", new { Username = @Model.Username })',
				dataType: 'json',
				type: 'GET',
				success: function (data) {
					checkIsFriend(data.ID);
				}
			})
		}
	}

	function checkIsFriend(id) {
		var link = '@Html.Raw(Url.Action("GetFriendship", "Profile", new { userID = @ViewBag.User.ID, friendID = -1 }))';
		link = link.replace("-1", id);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				$('#add_friend').prop('disabled', true);
				checkPublicity(true, true);
			},
			error: function(xhr){
				if(xhr.status == 404)
					checkCommonFriends(id);
			}
		})
	}

	function getFriendID(username) {
		var link = '@Url.Action("GetUserByUsername", "User", new { Username = "oooo" })';
		link = link.replace("oooo", username);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				var id = data.ID;
				addFriend(id);
			}
		})
	}

	function addFriend(id) {
		var link = '@Html.Raw(@Url.Action("AddFriend", "Profile", new { UserID = @ViewBag.User.ID, FriendID = -1 }))';
		link = link.replace("-1", id);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'POST',
			success: function (data) {
				//var button = document.getElementById('button' + text2);
				//if(data.Response == "OK")
				//	button.value = "Request sent";
			}
		})
	}

	function checkCommonFriends(id) {
		var link = '@Html.Raw(Url.Action("GetCommonFriends", "Profile", new { userID = @ViewBag.User.ID, targetID = -1 }))';
		link = link.replace("-1", id);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				if (data.Count > 0)
					checkPublicity(false, true);
				else
					checkPublicity(false, false);
			}
		})
	}

	function checkPublicity(isFriend, hasCommonFriends) {
		$.ajax
		({
			url: '@Html.Raw(Url.Action("GetSettingByOwnerIDAndTypeRaw", "Settings", new { ownerID = @Model.ID, settingType = SettingType.Profile.ToString() }))',
			dataType: 'json',
			type: 'GET',
			success: function (data) {
				if(data.Publicity == "Everyone")
				{
					var link = '@Url.Action("GetTopicForProfile", "Topic", new { profileID = @Model.ID })';
					$("#profile_topic").load(link, function () { updateVisit(); });
				}
				if (data.Publicity == "Friends") {
					if (isFriend)
					{
						var link = '@Url.Action("GetTopicForProfile", "Topic", new { profileID = @Model.ID })';
						$("#profile_topic").load(link, function () { updateVisit(); });
					}
				}
				if (data.Publicity == "FriendsOfFriends") {
					if (hasCommonFriends) {
						var link = '@Url.Action("GetTopicForProfile", "Topic", new { profileID = @Model.ID })';
						$("#profile_topic").load(link, function () { updateVisit(); });
					}
				}
			}
		})
	}
</script>

<div class="row">
	<div class="col-md-8">
		<section id="profile_form">
			@using (Html.BeginForm("GetProfileByID", "Profile", new { ID = @ViewBag.ID }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
			{
				<h4></h4>
				<hr />
				<div class="form-group">
					@Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Age, new { @class = "form-control", @readonly = "readonly" })
					</div>
				</div>
			}
		</section>
	</div>
	<div id="profile_topic" class="col-md-8">
	</div>
	<div class="col-md-8">
		<button id="add_friend" class="btn btn-default" onclick="@("getFriendID(" + @Html.Raw(Json.Encode(Model.Username)) + ")")">Add friend</button> 
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		@Html.Action("GetAlbumsForProfile", "Album", new { profileID = @ViewBag.ID })
	</div>
</div>


