@model WebMediaClient.Models.ProfileViewModel

@{
    ViewBag.Title = "GetProfileByUsername";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetProfileByUsername</h2>

<div class="row">
	<div class="col-md-8">
		<section id="profile_form">
			@using (Html.BeginForm("GetProfileByUsername", "Profile", new { Username = @ViewBag.Username }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
			{
				<h4></h4>
				<hr />
				<div class="form-group">
					@Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Username, new { @class = "form-control", @enabled = "false" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @enabled = "false" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Age, new { @class = "form-control", @enabled = "false" })
					</div>
				</div>
			}
		</section>
	</div>
	<div class="col-md-8">
		@Html.Action("GetTopicForProfile", "Topic", new { profileID = @Model.ID })
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		@Html.Action("GetAlbumsForProfile", "Profile", new { profileID = @Model.ID })
	</div>
</div>

