@model List<WebMediaClient.Models.MessageViewModel>

<script type="text/javascript">
	function readMessages(id)
	{
		var link = '@Html.Raw(Url.Action("ReadMessages", "Profile", new { senderID = -1, receiverID = ViewBag.User.ID }))';
		link = link.replace("-1", id);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'PUT',
			success: function (data) {
			}
		});
	}
</script>

<div class="row">
	<div class="col-md-4">
		<div class="list-group">
			@foreach (var item in Model)
			{
				<div class="row">
					<div class="col-md-4">
						@Html.Action("GetAuthorInfo", "User", new { userID = @item.SenderID, anonymous = true })
					</div>
					<div class="col-md-4" onclick="readMessages(@Html.Raw(Json.Encode(item.SenderID)))">
						@Html.Raw(item.Text)
					</div>
				</div>
			}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<a href="@Url.Action("ChatRoom", "Profile", new { userID = ViewBag.User.ID })">@Resources.ChatRoom</a>
	</div>
</div>

